!!! 5
html(lang="en")
  head
    title= title
    script(type='text/javascript')
    script(type='text/javascript')
      var socket = io.connect('http://192.168.100.178:3000');
      socket.on('connect', function () {
        console.log("connected!")
        $("#btn-set").click(function(){
          var $stime = $('#starttime').val(),$etime = $('#endtime').val(),$pid = $('#pid').val();
            if(!!$etime && !!$pid){
              socket.emit("_setprice",{__st:!!$stime?$stime:undefined,__et:$etime,__id:$pid})
            }else{
              alert("请输入必要的信息！")
            }
            $('#starttime').val("");
            $('#endtime').val("");
            $('#pid').val("");
        });

      });

      socket.on('send_pid',function(result){
        console.log("recived!")
        if(!!result.st && result.st>nowtime){
          var pid_ = new Timer(result.st,"timeshow",function(){ var pid_ = new Timer(result.et,"timeshow",function(){alert("time out")}) })
        }else{
          var pid_ = new Timer(result.et,"timeshow",function(){alert("time out")})
        }
          console.log(result.ptotal[0]);
          $('span#pname').html(result.ptotal[0].name);
          $('span#prise').html(result.ptotal[0].value);
        })

  body

    #container
      h1=title
      - if (youAreUsingJade)
        p
          设置一个促销/活动
      - else
        p oooooooooooooooooooooooooooooooooo
      div
        form#manager-action
          开始时间：
          input(type='text',value='',id='starttime',placeholder='为空则计时从当前时间开始')
          br
          到期时间：
          input(type='text',value='',id='endtime',placeholder='必填')
          br
          &nbsp;&nbsp;&nbsp;商品ID：
          input(type='text',value='',id='pid',placeholder='必填')
          br
          input(type='button',value='提交',id='btn-set')

          p#res
            span#timeshow
            br
            商品：
            span#pname
            br
            价格：
            span#prise


    p Powered By &nbsp;
      a(href='http://socket.io') Socket.io

    script(src='/js/index.js')
    footer Copyright©2012 zhangJianqiang