!!! 5
html(lang="en")
  head
    title= title
    script(type='text/javascript')
      var socket = io.connect('http://192.168.100.178:3000');
      socket.on('connect', function () {
        $("#btn-set").click(function(){
          var $id = $('#ipt-setid').val(),$name = $('#ipt-setname').val(),$val = $('#ipt-setval').val();
            if($name!==""&&$val!==""){
            socket.emit("_submit",{__id:$id,__sn:$name,__sv:$val})
            }
            $('#ipt-setid').val("");
            $('#ipt-setname').val("");
            $('#ipt-setval').val("");
        });

        socket.on("_error",function(data){
          alert(data)
        })

        socket.on("_printf",function(data){

          var txt = "数据存储成功!<br/>";
          for(var i in data){
            txt+=i+":"+data[i]+"<br/>";
          }
          $("p#res").html(txt);
        })

      });


  body

    #container
      h1=title
      - if (youAreUsingJade)
        p
          数据存存储&nbsp;
          a(href='/sub')
            查询
      - else
        p oooooooooooooooooooooooooooooooooo
      div
        form#sub
          索引：
          input(type='text',value='',id='ipt-setid',placeholder='可不填，会自动生成')
          br
          键名：
          input(type='text',value='',id='ipt-setname')
          br
          键值：
          input(type='text',value='',id='ipt-setval')
          br
          input(type='button',value='提交',id='btn-set')

          p#res

    p Powered By &nbsp;
      a(href='http://socket.io') Socket.io

    footer Copyright©2012 zhangJianqiang