!!! 5
html(lang="en")
  head
    title= title
    script(src='js/socket.js')
    script(type='text/javascript')
      var socket;
      socket =  io.connect('http://192.168.100.178:3000');

      socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
      });
  body
    h1 WebSocket Demo using Socket.io
    #container
      - if (youAreUsingJade)
        p You are amazing
      - else
        p Get on it!

    p Powered By a(href='') Socket.io
