!!! 5
html(lang="en")
  head
    title= title
    script(type='text/javascript')
      var socket = io.connect('http://192.168.100.178:3000');

      socket.on('connect', function () {

        socket.on('printf', function (data) {
          $("p#contents").text(data)
        });
      });

  body
    h1=title
    #container
      - if (youAreUsingJade)
        p 数据查询
      - else
        p oooooooooooooooooooooooooooooooooo

      div
        索引：
        input(type='text',value='',id='ipt-getid',placeholder='按_id查询')
        br
        键名：
        input(type='text',value='',id='ipt-getname',placeholder='按键名查询')
        br
        键值：
        input(type='text',value='',id='ipt-getval',placeholder='按键值查询')
        br
        input(type='button',value='查询',id='btn-get')
        br
        br
        p#contents
          暂无内容
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    p Powered By &nbsp;
      a(href='http://socket.io') Socket.io

    footer Copyright©2012 zhangJianqiang