!!! 5
html(lang="en")
  head
    title= title
    script(type='text/javascript')
      var socket = io.connect('http://192.168.100.178:3000');

      //var socket = io.connect('http://localhost:3000');
      socket.on('connect', function () {
        socket.on('getmsg', function (getmsg) {
          $("#ipt-get").val(getmsg.key)
        });
      });


  body
    h1 WebSocket+express subpage
    #container
      - if (youAreUsingJade)
        p 这里读出数据
      - else
        p oooooooooooooooooooooooooooooooooo

    div
      input(type='button',value='获取name',id='btn-get')
      input(type='text',value='',id='ipt-get')
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    p Powered By &nbsp;
      a(href='http://socket.io') Socket.io

    footer Copyright©2012 zhangJianqiang