!!! 5
html(lang="en")
  head
    title= title
    script(type='text/javascript')
      var socket = io.connect('http://192.168.100.178:3000');

      socket.on('connect', function () {

        $("#btn-get").click(function(){
        var $id = $("#ipt-getid").val(),$name = $("#ipt-getname").val(),$val = $("#ipt-getval").val(),opts={};
        opts._id =(!!$id)?$id:undefined;
        opts.name =(!!$name)?$name:undefined;
        opts.value =(!!$val)?$val:undefined;
        if(!!$id||!!$name||!!$val){
          socket.emit("_search",opts)
        }else{
          alert("请输入查询条件！")
        }
        });

        socket.on('_printfResult',function (data) {
        //console.log(data.length)
          if(data.length==0){
            $("p#contents").html("没有符合条件的查询!");
            return false
          }
          var txt = "查询结果：<br/>";
          for(var d=0;d<data.length;d++){
            for(var i in data[d]){
              txt+=i+":"+data[d][i]+"<br/>"
            }
          }
        $("p#contents").html(txt)
        });

        $("#btn-cls").click(function(){
          $("#ipt-getid").val("");
          $("#ipt-getname").val("");
          $("#ipt-getval").val("");
          $('p#contents').text("暂无内容")
        })

        $("#btn-del").click(function(){
          var $id = $("#ipt-getid").val(),$name = $("#ipt-getname").val(),$val = $("#ipt-getval").val(),opts={};
            opts._id =(!!$id)?$id:undefined;
            opts.name =(!!$name)?$name:undefined;
            opts.value =(!!$val)?$val:undefined;
            if(!!$id||!!$name||!!$val){
            socket.emit("_del",opts)
            }else{
            alert("请输入条件！")
            }
        })

        socket.on('_printfResultDEL',function (tip) {
          $("p#contents").html(tip);
          $("#btn-cls").click()
        });

      });



  body
    h1=title
    #container
      - if (youAreUsingJade)
        p 数据查询
      - else
        p oooooooooooooooooooooooooooooooooo

      div
        索引：
        input(type='text',value='',id='ipt-getid',placeholder='按_id查询')
        br
        键名：
        input(type='text',value='',id='ipt-getname',placeholder='按键名查询')
        br
        键值：
        input(type='text',value='',id='ipt-getval',placeholder='按键值查询')
        br
        input(type='button',value='查询',id='btn-get')
        &nbsp;&nbsp;
        input(type='button',value='清空',id='btn-cls')
        &nbsp;&nbsp;&nbsp;&nbsp;
        input(type='button',value='删除',id='btn-del')
        br
        br
        p#contents
          暂无内容
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    p Powered By &nbsp;
      a(href='http://socket.io') Socket.io

    footer Copyright©2012 zhangJianqiang